body {
  font-family: 'Calibri';
}
.header {
  border-bottom:1px dotted silver;
}
.header h1 {
  margin: 0;
  padding: 10px 40px 10px 40px;
}
.navigation {
  /*border:1px solid red;*/
  width:20%;
  float:left;
}
.navigation ul {
  list-style-type:none;
  overflow: hidden;
}
.navigation ul li a {
  padding: 5px 10px;
}
.content {
  /*border:1px solid silver;*/
  width: 80%;
  float:right;
  background-color: #cfc;
}
.footer {
  width:100%;
  overflow:hidden;
  height:50px;
  border-top:1px dotted silver;
}
.footer p {
  padding: 0 10px;
  text-align: center;
}
.edit a {
  margin-right: 10px;
}
